<h3><%= @facility.name %> </h3>

<h4>Facility Information</h4>
<% ["su", "m", "tu", "w", "th", "f", "sa"].each do |day| %>
    <%= day.capitalize %>:
    <% starting = @facility.send(day+"_start") %>
    <% if starting =~ /\d/   %>
        <%= @facility.send(day+"_start") + " - " + @facility.send(day+"_end") %>
    <% else %>
        Closed
    <% end %>
    <br>
<% end %>
<p></p>
Need <b><%= @facility.spots %> </b> employee(s) per shift.
<p><p>
Comments: <%= @facility.comments %>
<p><p>
<%= link_to "Edit Facility", edit_facility_path(@facility.id) %>
