<h3>Edit Preferences</h3>
<div class="row">
  <div class="col-md-9">
    <font size="2">
      <table class="table-bordered table-sm">
          <col width="80" />
          <col width="150" />
          <col width="150" />
          <col width="150" />
          <col width="150" />
          <col width="150" />
          <col width="150" />
          <col width="150" />
          <tr>
              <th>Time</th>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
          </tr>
      <% String.all_times.each do |time| %>
          <tr>
              <td><%= time %></td>
                  <% for day in ["Su", "M", "Tu", "W", "Th", "F", "Sa"] do %>
                      <td id=<%= (day + " " + time).to_hr_form %>></td>
                  <% end %>
              </td>
          </tr>
      <% end %>
      </table>
    </font>
  </div>
  <div class="col-md-3">
    <h5> Select Preference Type </h5>
      <% for entry in @preference.preference_entries do %>
        <table class="table-bordered">
          <col width="150" />
          <tr>
            <td bgcolor=<%= entry.color %>>
              <font color="white">
                <%= entry.name.upcase.split(//).join(" ") %>
              </font>
            </td>
          </tr>
        </table>
        <% if entry.name.length > 7 %>
          &nbsp;&nbsp;<%= entry.comments %>
          <br>
        <% end %>
        <br>
      <% end %>
    <br>
    <h5> Additional Preferences </h5>
      <%= select_tag(:minimum_hours, options_for_select((8..20).map{|h| ["A minimum of " + h.to_s + " hours.", h]}, @preference.minimum_hours), class: "form-control") %><br>
      <%= select_tag(:maximum_hours, options_for_select(20.downto(8).map{|h| ["A maximum of " + h.to_s + " hours.", h]}, @preference.maximum_hours), class: "form-control") %><br>
      <%= select_tag(:daily_hours, options_for_select((2..5).map{|h| [h.to_s + " hours a day.", h]}, @preference.daily_hours), class: "form-control") %><br>
      <%= select_tag(:spread_out, options_for_select([ ['A lot in one day', false],
                                                ['Spread over the week', true]],
                                                @preference.spread_out), class: "form-control") %><br>
      <%= select_tag(:time_of_week, options_for_select([ ['Prefer weekdays', 'Prefer weekdays'],
                                                  ['Prefer weekends', 'Prefer weekends'],
                                                  ['Any time of the week', 'Any time of the week']],
                                                  @preference.time_of_week), class: "form-control") %><br>
      <%= select_tag(:time_of_day, options_for_select([ ['Prefer mornings', 'Prefer mornings'],
                                                  ['Prefer mid-day', 'Prefer mid-day'],
                                                  ['Prefer evenings', 'Prefer evenings'],
                                                  ['Any time of the day', 'Any time of the day']],
                                                  @preference.time_of_day), class: "form-control") %><br>
      <br>
      <br>
      <br>
      <input class="btn btn-default btn-lg" type="submit" value="Submit">
  </div>
</div>
